//-base.jade
doctype html
html
  head
    title Mi sitio web con Jade
  body
    header
      p Mi sitio web con Jade
    nav
      ul
        li
          a(href="/") Inicio
        li
          a(href="/contacto.html") Contacto
    main
      block content
    footer
      p Derechos reservados 2015 ®
