//-contacto.jade
extends ./base.jade

block content
  h1 Envía un mensaje
  form
    input(type="email", placeholder="Escribe aquí tu correo electrónico")
    textarea(placeholder="Escribe aquí el mensaje")
    input(type="submit") Enviar
